# Obsidian ignores
.trash/
.obsidian/workspace.json

# Obsidian plugin ignores
.obsidian/plugins/*/data.json
.obsidian/plugins/*/data.json.backup
.obsidian/plugins/*/data.json.old

# MacOS ignores
.DS_Store
